@media only screen and (min-width: 560px) {

nav li {float: left; width: 25%;}

main figure {  /*manage the image size adjustment */
    float: right;
    width: 48%;
    margin-left: 2%;
}

div.news {    /*modify the news format */
 clear: both;
 column-count: 2;  /*divide 2 column */
 column-rule: 1px solid #addd;
}


} /* end of media query */